.player-design-sort {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    width: 250px;
    right: 0;
    border-bottom-left-radius: 32px;
    border-top-left-radius: 32px;
    span {
        font-size: 21px;
        margin-left: 32px;
        color: white;
    }
    img {
        padding-left: 16px;
        width: 50px;
    }
}

.player-activ {
    background-color: rgba(255, 117, 20, 0.7);
}