    .field {
        width: 100%;
        height: 100vh;
        background-image: url('./assets/img/bg.jpg');
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .card-stack {
        position: relative;
        img {
            width: 120px;
            height: auto;
            position: absolute;
        }
    }
    
    .top-card {
        cursor: pointer;
        transition: all ease-in-out 125ms;
        &:hover {
            transform: scale(1.1) translateY(-10px);
        }
    }
    
    .pick-card {
        cursor: pointer;
        transition: all 125ms ease-in-out;
        animation: pick-card-animation 2s ease-in-out;
        transform: scale(1.3) rotate(340deg) translateX(150px) translateY(-200px);
    }
    
    .played-card {
        right: 25px;
        transform: scale(1.3) rotate(340deg) translateX(150px) translateY(-200px);
    }
    
    @keyframes pick-card-animation {
        0% {
            transform: scale(1);
        }
        40% {
            transform: scale(1.7);
        }
        50% {
            transform: scale(1.7) rotate(0deg);
        }
        100% {
            transform: scale(1.3) rotate(340deg) translateX(150px) translateY(-200px);
        }
    }
    
    .player-position {
        position: absolute;
        right: 0;
    }
    
    .btn-add {
        position: absolute;
        right: 25px;
        bottom: 25px;
    }